<section *ngIf="Stella">
    <div class="card">
      <div class="card-header">
        {{ Stella.nome }}
      </div>
      <div class="card-body">
        <p><strong>Costellazione:</strong> {{ Stella.costellazione }}</p>
        <p><strong>Classificazione:</strong> {{ Stella.classificazione }}</p>
        <p><strong>Distanza dal Sole:</strong> {{ Stella.distanza }}</p>
        <p><strong>Magnitudine Apparente:</strong> {{ Stella.magnitudineAp }}</p>
        <p><strong>Magnitudine Assoluta:</strong> {{ Stella.magnitudineAs }}</p>
      </div>
    </div>
  </section>
  